// 颜色定义规范
$color-background = #f3f5f6
$color-background-d = rgba(0, 0, 0, 0.3)
$color-background-content = #fff
$color-highlight-background = #333
$color-dialog-background = #666
$color-a-hover = #d1dee4
$color-theme = #409EFF
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30

$color-text = #303133
$color-text-d = #606266
$color-text-l = #909399
$color-text-ll = #C0C4CC

$border-i = #DCDFE6
$border-ii = #E4E7ED
$border-iii = #EBEEF5
$border-iv = #F2F6FC

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px